<p>Hi <%= @user.first_name%>,</p>

<p><%= @inviter.first_name %> has added you to a studio on I Live Yoga.</p>

<p>I Live Yoga is a free community for yoga instructors, studios, and yogis to connect. ILY has all the tools you need in one place to be a yogi, to manage your yoga instructor life or yoga studio if you own/manage one.</p>

<p>Username: <%= @user.email %><br>
Password: <%= @password %></p>

<p>We love hearing from you - suggestions, comments, enhancements for existing features.. it's all good!</p>

<p>Thanks, <br>
  The ILY Team</p>