<p>
  I Live Yoga is a free community for yoga instructors, studios, and yogis to connect. ILY has all the tools you need in one place to be a yogi, to manage your yoga instructor life or yoga studio if you own/manage one.
</p>

<p>
  Here's what <%= @inviter.first_name %> has to add -<br/>
  "<%= @message %>"
</p>
<p>
  Check out the other instructors on ILY<br/>
  http://www.iliveyoga.ca/<%= @area.city_slug %>/<%= @area.region_abbr.downcase %>/instructors/<br/>
  <br/>
  1) Signup - http://www.iliveyoga.ca/users/sign_up<br/>
  2) Upload a profile pic: Click 'settings' in upper-righthand corner<br/>
  3) Add new classes: Go to 'Dashboard' (top of navbar, left-side), Click [View Schedule] and click [Add Event]<br/>
  4) Easily update existing classes: Click [Bulk Edit Schedule] and go for it!
</p>
<p>
  We love hearing from you - suggestions, comments, enhancements for existing features.. it's all good!
</p>
<p>
Thanks,<br/>
Team ILY
</p>
