<p>Hi <%= @user.first_name %>,</p>

<p>Welcome to I Live Yoga!</p>

<p>We're so happy you joined the ILY community.</p>

<p>Some tools and features members use and love,
- View and search all classes from all studios
- Instructor profile pages to show all the classes they teach even if at different studios
- Workshop listing page to see what's happening in your city</p>

<p>We love hearing from you - suggestions, comments, enhancements for existing features.. it's all good!</p>

<p>Namaste,
The ILY Team</p>