.selected {
    padding-bottom: 7px;
    border-bottom: solid 3px #00BCD1;
}

.cursor_hover {
    cursor:pointer
}

.modal-body {
    max-height: 800px;
}

.show-calendar {
    cursor:pointer
}

.practice {
    cursor:pointer
}