    <div class="navbar <!-- navbar-fixed-top-->">
      <div class="navbar-inner">
        <div class="container"> <a class="brand" href="./index.html" style="font-family: 'Syncopate',sans-serif;"> I
            Live Yoga</a>
          <form class="navbar-search"> <input class="search-query span2 pull-right"
              placeholder="Search"
              type="text">
          </form>
          <ul class="nav pull-right">
            <li class="dropdown"> <a href="you.html" class="dropdown-toggle"
                data-toggle="dropdown">
                <b class="caret"></b> &nbsp;You </a>
              <ul class="dropdown-menu">
                <li><a href="you.html"><i class="icon-home"></i> <i class="icon-calendar"></i>
                    You</a></li>
                <li><a href="#navs"><i class="icon-home"></i> <i class="icon-calendar"></i>
                    Feel Yoga</a></li>
                <li><a href="#navs"><i class="icon-home"></i> <i class="icon-calendar"></i>
                    Studio 330</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class=""> <a href="calendar.html"><i class="icon-calendar"></i></a></li>
            <li class="divider-vertical"></li>
          <ul class="nav pull-right">
            <li class="dropdown"> <a href="you.html" class="dropdown-toggle"
                data-toggle="dropdown">
            <img class="pull-right img-rounded" style="opacity:.8" src="./assets/img/matt-avatar.jpeg" id="profile-card" height="20" width="20"></a>
              <ul class="dropdown-menu">
            <li class=""> <a href="calendar.html">Your Profile</a>
            </li>
            <li class=""> <a href="./mail.html">Messages</a>
            </li>
            <li class=""> <a href="./notifications.html">Notifications</a>
            </li>
            <li class=""> <a href="widget-customization-tool.html">Widget Customization Tool</a>
            </li>
            <li class=""> <a href="settings.html">Settings</a>
            </li>
            <li class=""> <a href="permissions.html">Permissions</a>
            </li>
            <li class=""> <a href="signout.html">Signout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
		<div class="span12">

        <h2>Feel Yoga <small>80 Princess Street <a href=""><i class="icon-map-marker"></i></a> <a href="" class="btn btn-default btn-mini">Follow</a> <a href="" class="btn btn-default btn-mini">Watch <b class="caret"></b></a> <a href="" class="btn btn-default btn-mini"><i class="icon-star"></i></a></small> </h1>

        <span class="" style="font-size:13px"><span style="border-bottom: solid 2px #00BCD1;">Current Month</span> | Select Month</span> <span class="pull-right"><!-- My Practice | <i class="icon-cog"></i> | --><i class="icon-calendar"></i> | My Practice <span class="badge">1</span> | <i class="icon-cog"></i></span></span><br>
        <br>
                <h4>July 29 to Sept 1 &nbsp;<small><input type="checkbox" name="option1" value="classtime" checked> only show regular classes</small>
        <small class="pull-right">all classes <span class="caret"></span> | all instructors <span class="caret"></span> | all locations <span class="caret"></span>

                </small></h4>
                  <table class="table table-striped" style="background:#ffffff;">
                    <tbody>
                      <tr><td><strong>Monday</strong></td><td><strong>Tuesday</strong></td><td><strong>Wednesday</strong></td><td><strong>Thursday</strong</td><td><strong>Friday</strong></td><td><strong>Saturday</strong></td><td><strong>Sunday</strong></td></tr>
                      <tr><td><span style="font-size:11px" class="pull-right">Jul 29</span></td><td><span style="font-size:11px" class="pull-right">Jul 30</span></td><td><span style="font-size:11px" class="pull-right">Jul 31</span></td><td><span style="font-size:11px" class="pull-right">Aug 1</span></td><td><span style="font-size:11px" class="pull-right">Aug 2</span></td><td><span style="font-size:11px" class="pull-right">Aug 3</span></td><td><span style="font-size:11px;" class="pull-right">Aug 4</span></td></tr>
                      <tr>
<td width="96" style="background:#F2F2F2; border-right:solid 1px grey;">
<div style="background:#00BCD1; color:#FEF9F0;">
<input type="checkbox" name="option1" value="classtime" class="pull-right" checked>
<strong class="" style="font-size:13px; background:; color:white;">&nbsp;6:00 <small>am</small>&nbsp;</strong><br>
<span class="" style="color:;">&nbsp;Bikrams</strong></span><br>
<span style="background:#C8FF00; color:#44434B; font-size:11px;">&nbsp;New Class&nbsp;</span>
</div>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;8:00 <small>am</small>&nbsp;</strong><br>
<span class="">&nbsp;Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;12:00 <small>pm</small>&nbsp;</strong><br>
<span class="">&nbsp;Bikrams</strong></span><br>
<span style="background:#C8FF00; color:#44434B; font-size:11px;">&nbsp;New Class&nbsp;</span>
</td>
<td width="96" style="border-right:solid 1px grey;">
<div style="border-top: solid 0px white;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">7:00 <small>PM</small></strong><br>
<span class="pull-right">Gong Meditation</strong></span><br>
<a href="" class="pull-right">Register <small style="color:grey;">Free</small></a><br>

<div style="border-top: solid 3px white; border-bottom: solid 1px lightgrey;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">7:00 <small>PM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>

<div style="border-top: solid 3px white; border-bottom: solid 1px lightgrey;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">7:00 <small>PM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96" style="background:#F2F2F2; border-right:solid 1px grey;">
<div style="border-top: solid 0px white;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px; background:white; color:black;">&nbsp;DT&nbsp;</strong><strong class="pull-right" style="font-size:13px; background:#00BCD1; color:#FEF9F0; padding:0px;">&nbsp;7:00 <small>PM</small>&nbsp;</strong><br>
<span class="pull-right">Gong Meditation</strong></span><br>
<a href="" class="pull-right">Register <small style="color:grey;">Free</small></a><br>

<div style="border-top: solid 3px white; border-bottom: solid 1px lightgrey;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px; background:#00BCD1; color:#FEF9F0;">&nbsp;7:00 <small>PM</small>&nbsp;</strong><br>
<span class="pull-right">Bikrams</strong></span><br>

<div style="border-top: solid 3px white; border-bottom: solid 1px lightgrey;"></div>
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px; background:#00BCD1; color:#FEF9F0;">&nbsp;7:00 <small>PM</small>&nbsp;</strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96" style="border-right:solid 1px grey;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="background:#F2F2F2; border-right:solid 1px grey;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="border-right:solid 1px grey;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>

</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
</tr>
                      <tr><td><span style="font-size:11px;" class="pull-right">Aug 5</span></td><td><span style="font-size:11px" class="pull-right">Aug 6</span></td><td><span style="font-size:11px" class="pull-right">Aug 7</span></td><td><span style="font-size:11px" class="pull-right">Aug 8</span></td><td><span style="font-size:11px" class="pull-right">Aug 9</span></td><td><span style="font-size:11px" class="pull-right">Aug 10</span></td><td><span style="font-size:11px" class="pull-right">Aug 11</span></td></tr>
                     <tr>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;6:00 <small>AM</small>&nbsp;</strong><br>
<span class="" style="color:;">&nbsp;Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;8:00 <small>am</small>&nbsp;</strong><br>
<span class="">&nbsp;Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;12:00 <small>pm</small>&nbsp;</strong><br>
<span class="">&nbsp;Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;6:00 <small>AM</small>&nbsp;</strong><br>
<span class="" style="color:;">&nbsp;<strong style="color:#44434B">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;8:00 <small>am</small>&nbsp;</strong><br>
<span class="" style="color:;">&nbsp;<strong style="color:#44434B">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; background:#00BCD1; color:white;">&nbsp;12:00 <small>pm</small>&nbsp;</strong><br>
<span class="" style="color:;">&nbsp;<strong style="color:#44434B">Bikrams</strong></span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>

</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
</tr>
                      <tr><td><span style="font-size:11px;" class="pull-right">Aug 5</span></td><td><span style="font-size:11px" class="pull-right">Aug 6</span></td><td><span style="font-size:11px" class="pull-right">Aug 7</span></td><td><span style="font-size:11px" class="pull-right">Aug 8</span></td><td><span style="font-size:11px" class="pull-right">Aug 9</span></td><td><span style="font-size:11px" class="pull-right">Aug 10</span></td><td><span style="font-size:11px" class="pull-right">Aug 11</span></td></tr>
                     <tr>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; color:;">6:00<small>AM</small>&nbsp;</strong><br>
<span class="" style="color:;">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">8:00<small>AM</small></strong><br>
<span class="">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">12:00<small>PM</small></strong><br>
<span class="">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>

</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
</tr>

                      <tr><td><span style="font-size:11px;" class="pull-right">Aug 5</span></td><td><span style="font-size:11px" class="pull-right">Aug 6</span></td><td><span style="font-size:11px" class="pull-right">Aug 7</span></td><td><span style="font-size:11px" class="pull-right">Aug 8</span></td><td><span style="font-size:11px" class="pull-right">Aug 9</span></td><td><span style="font-size:11px" class="pull-right">Aug 10</span></td><td><span style="font-size:11px" class="pull-right">Aug 11</span></td></tr>
                     <tr>
<td width="96" style="background:#F2F2F2;">

<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; color:;">6:00<small>AM</small>&nbsp;</strong><br>
<span class="" style="color:;">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">8:00<small>AM</small></strong><br>
<span class="">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">12:00<small>PM</small></strong><br>
<span class="">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>

</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
</tr>
                      <tr><td><span style="font-size:11px;" class="pull-right">Aug 26</span></td><td><span style="font-size:11px" class="pull-right">Aug 27</span></td><td><span style="font-size:11px" class="pull-right">Aug 28</span></td><td><span style="font-size:11px" class="pull-right">Aug 29</span></td><td><span style="font-size:11px" class="pull-right">Aug 30</span></td><td><span style="font-size:11px" class="pull-right">Sept 1</span></td><td><span style="font-size:11px" class="pull-right">Sept 2</span></td></tr>
                     <tr>
<td width="96" style="background:#F2F2F2;">

<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong class="" style="font-size:13px; color:;">6:00<small>AM</small>&nbsp;</strong><br>
<span class="" style="color:;">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">8:00<small>AM</small></strong><br>
<span class="">Bikrams</strong></span><br>
<input type="checkbox" name="option1" value="classtime" class="pull-right">
<strong style="font-size:13px;">12:00<small>PM</small></strong><br>
<span class="">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</strong></span><br>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
<td width="96">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>

</td>
<td width="96" style="background:#F2F2F2;">
<input type="checkbox" name="option1" value="classtime">
<strong class="pull-right" style="font-size:13px;">6:00<small>AM</small></strong><br>
<span class="pull-right">Bikrams</span><br>
<hr>
</td>
</tr>

					</tbody>
				</table>



                <!-- END: SHOWING ALL CLASSES -->

<div class="pull-right" style="color:grey;">ILY <> I Live Yoga - Uniting The World With Yoga</div>

    </div>
